html
    head
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/timeline.css")
        link(rel="icon", type="image/png", href="me.png")

        link(href='http://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Hind', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
        link(href='http://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Dancing+Script:700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
    body
        header#first
            nav#menu
                a(id="home" href='#first')= 'Curriculum vitae'
                ul
                    a(href="#c-skills")!= '<li id="li-skills">Competences</li>'
                    a(href="#c-parcours")!= '<li id="li-parcours">Parcours</li>'
                    a(href="#c-work")!= '<li id="li-work">Projets</li>'
                    a(href="#c-hobbies")!= '<li id="li-hobbies">Interets</li>'
                    a(href="#footer")!= '<li id="li-contact">Contacts</li>'
            #header-bg
            #header-content
                #header-align-center
                    #my-face
                    #header-content-flex.moit
                        #my-name.info!= 'Emmanuelle <span>Termeau</span>'
                        #my-job.info!= 'Développeur'
                        //- #my-area.info
                        //-     #how-old= '21 ans'
                        //-     #my-city= 'Paris et Région Parisienne'
        #container
            section#c-quality.s-semidark
                #quality-content
                    #quality-cross
                        svg(width="350", height="350", version="1.1", xmlns="http://www.w3.org/2000/svg")
                            polygon(points="0 0 350 350", stroke="#726b59", fill="transparent", stroke-width="1")
                            polygon(points="0 350 350 0", stroke="#726b59", fill="transparent", stroke-width="1")
                    #quality-text
                        #quality-vetical
                            .qt= 'Compétitive'
                            .qt= 'Créative'
                        #quality-horizontal
                            #quality-horizontal-center1
                                #quality-horizontal-center2
                                    .qt= 'Rigoureuse'
                                    .qt= 'Curieuse'
            section#c-skills.s-dark
                h1= 'Mes competences'
                #cont-skills
                    #cont-other
                    #cont-diag
                        #sk-languages
                        #sk-pro
                #cont-lang
                    .content-lang#frensh
                        .lang-name= "Français"
                        .lang-level= "Natif"
                    .content-lang#english
                        .lang-name= "Anglais"
                        .lang-level= "Intermédiaire"
                    .content-lang#spanish
                        .lang-name= "Espagnol"
                        .lang-level= "Intermédiaire"
                    
            section#c-parcours.s-semidark
                h1= 'Mon parcours'
                #cont-parcours
                    ul.timeline-events
                    ul.timelines-years
            section#c-work.s-dark
                h1= 'Mes projets'
                #cont-work
            section#c-hobbies.s-semidark
                h1= 'Mes interets'
                #cont-hobbies
            footer#footer
                h1= 'Contacts'
                #footer-bg
                #cont-footer
                    #cont-middle
        a(id= 'arc', href="#first")= '^'
        script(type="text/javascript", src='http://code.jquery.com/jquery-2.1.4.min.js')
        script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
        script(type="text/javascript", src='/Chart/Chart.js')
        script(type="text/javascript", src='/timeline.js')
        script(type="text/javascript", src='/perso.js')
        script(type="text/javascript", src='/menuTop.js')
        script.
            $('a[href^="#"]').click(function() {
                var the_id = $(this).attr("href");
                $('html, body').animate({
                    scrollTop: $(the_id).offset().top
                    }, 'slow');
                return false;
                });
